<tr>
	<td class="customer-id"><%= customer.id %></td>
	<td class="customer-name"><%= link_to customer.email, customer %></td>
	<% if current_customer.admin? && customer != current_customer %>
		<td class="customer-delete"><%= link_to "delete", customer, method: :delete, data: { confirm: "You sure?" } %></td>
	<% end %>
<tr>