<% provide(:title, "Customer Index") %>
<h1>Customer Index</h1>

<%= will_paginate %>

<table class="table customers">
	<thead>
		<tr class="customers-header">
			<th class="customer-id">id</th>
			<th class="customer-email">Email</th>
		</tr>
	</thead>
	<tbody>
		<%= render @customers %>
	</tbody>
</table>

<%= will_paginate %>