<% provide(:title, @customer.email) %>

<div class="row-fluid">
	<h1 class="center"><%= @customer.email %></h1>
	<div class="center" id="edit-info">
		<%= link_to "Edit Account Information", edit_customer_path(@customer), class: "btn btn-medium" %>
	</div>
</div>
