@import 'bootstrap';
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700);

/* mixins, variables, stc. */

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin slow_transition {
	-webkit-transition: 0.4s ease;
	-moz-transition:    0.4s ease;
	-o-transition:      0.4s ease;
}

/* universal */

html {
	overflow-y: scroll;
}

body {
	/*font-family: 'Noto Serif', serif;*/
	font-family: 'PT Sans Caption', sans-serif;
	padding: 120px 20px 20px 20px;
	background-image: url('/assets/teton-barn.jpg');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center;
}

.center {
	text-align: center;
}

/* header */

.navbar {
	opacity: 0.8;
	background-color: white;
	width: 90%;
	left: 5%;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	@include slow_transition;
	&:hover {
		opacity: 1.0;
		@include slow_transition;
	}
	ul.nav li.dropdown:hover > ul.dropdown-menu{
	    display: block;
	}
	#navigation {
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		ul {
			list-style-type: none;
		}
		.navigation-item a {
			font-size: 18px;
			margin-right: 15px;
			font-weight: bold;
			line-height: 1em;
			margin-top: 23px;
			border-radius: 5px;
			@include slow_transition;
			&:hover {
				background-color: #D7DDE8;
				@include slow_transition;
			}
		}
		.dropdown-menu::before,
		.dropdown-menu::after {
   			border: none;
    		content: none;
		}
		.dropdown-menu {
			li {
				margin: -8px 0 10px 15px;
				a {
					padding: 10px;
					@include slow_transition;
					&:hover {
						background-color: #D7DDE8;
						@include slow_transition;
					}
				}
			}
		}
	}
}