@import 'bootstrap';

/* mixins, variables, stc. */

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin slow_transition {
	-webkit-transition: 0.4s ease;
	-moz-transition:    0.4s ease;
	-o-transition:      0.4s ease;
}

/* universal */

html {
	overflow-y: scroll;
}

body {
	font-family: 'Noto Serif', serif;
	padding: 120px 20px 20px 20px;
	background-image: url('/assets/teton-barn.jpg');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center;
}

/* header */

.navbar {
	opacity: 0.8;
	background-color: white;
	width: 90%;
	left: 5%;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	@include slow_transition;
	&:hover {
		opacity: 1.0;
		@include slow_transition;
	}
	#navigation {
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		ul {
			list-style-type: none;
		}
		.navigation-item a {
			font-size: 18px;
			font-weight: bold;
			line-height: 1em;
			padding-top: 35px;
			@include slow_transition;
			&:hover {
				opacity: 0.8;
				@include slow_transition;
			}
		}
	}

}