@import 'bootstrap';
/*@import url(http://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700);*/
@import url(http://fonts.googleapis.com/css?family=Monda:400,700);

/* mixins, variables, stc. */

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin slow_transition {
	-webkit-transition: 0.4s ease;
	-moz-transition:    0.4s ease;
	-o-transition:      0.4s ease;
}

/* universal */

html {
	overflow-y: scroll;
}
body {
	/*font-family: 'Noto Serif', serif;*/
	font-family: 'Monda', sans-serif;
	padding: 100px 20px 100px 20px;
	background-image: url(teton-barn.jpg);
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center bottom;
}
ul, ol {
	margin: 0 0 0 0;
}
.center {
	text-align: center;
}
.navbar {
	opacity: 0.7;
	background-color: white;
	@include slow_transition;
	&:hover {
		opacity: 1.0;
		@include slow_transition;
	}
}
.content {
	/*color: #555555;*/
	color: white;
	a {
		@include slow_transition;
		&:hover {
			@include slow_transition;
			text-decoration: none;
		}
	}
	h1 {
		font-size: 50px;
		margin-bottom: 50px;
		text-shadow: 2px 2px 2px black;
	}
	p {
		font-weight: bold;
		font-size: 18px;
		line-height: 1.2em;
		text-shadow: 1px 1px 3px black;
	}
	a {
		color: #c2dafe;
		&:hover {
			color: white;
		}
	}
}
.btn {
	font-family: 'Monda', sans-serif;
	padding: 5px 20px;
	margin: 20px 0;
	background: none;
	opacity: 0.8;
	background-color: white;
	@include slow_transition;
	&:hover {
		background: none;
		background-color: white;
		opacity: 1;
		@include slow_transition;
	}
}

/* header */

.navbar-fixed-top {
	width: 90%;
	left: 5%;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	ul.nav li.dropdown:hover > ul.dropdown-menu{
	    display: block;
	}
	a.menu:after, .dropdown-toggle:after {
	    content: none;
	}
	#navigation {
		background-color: white;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		ul {
			list-style-type: none;
			#product-button {
				&:hover {
					background: none;
				}
			}
		}
		#logo {
			a {
				margin-left: 10px;
				@include slow_transition;
				&:hover {
					background: none;
					@include slow_transition;
				}
			}
		}
		.navigation-item {
			a {
				font-size: 18px;
				font-weight: bold;
				line-height: 1em;
				margin: 10px 10px 10px 0;
				border-radius: 5px;
				text-shadow: 0 0 black;
				@include slow_transition;
				&:hover {
					/*background-color: #dbe9fe;*/
					@include slow_transition;
				}
			}
		}
		.dropdown-menu::before,
		.dropdown-menu::after {
   			border: none;
    		content: none;
    		/*box-shadow: 0 0 black;*/
		}
		.dropdown-menu#product-menu {
			margin-top: -1px;
			li {
				margin: 0 0 10px 10px;
				a {
					color: #777;
					padding: 10px;
					@include slow_transition;
					&:hover {
						color: black;
						background: none;
						/*background-color: #dbe9fe;*/
						@include slow_transition;
					}
				}
			}
		}
	}
}

/* forms */

input, textarea, select, .uneditable-input {
  	padding: 10px;
  	margin-bottom: 15px;
  	@include box_sizing;
}
input {
  	height: auto !important;
}
label {
	font-size: 16px;
	text-shadow: 1px 1px 2px black;
	margin-bottom: 10px;
}
#error_explanation {
  	color: #f00;
  	ul {
    	list-style: none;
    	margin: 0 0 18px 0;
  	}
}
.field_with_errors {
  	@extend .control-group;
  	@extend .error;
}

/* footer */

.navbar-fixed-bottom {
	font-size: 10px;
	color: black;
	ul#contact-info {
		margin-top: 5px;
		margin-left: 20px;
		margin-bottom: 5px;
		list-style-type: none;
		a {
			color: #777;
			margin: 3px;
			padding: 2px 3px;
			border-radius: 5px;
			@include slow_transition;
			&:hover {
				text-decoration: none;
				color: black;
				/*background-color: #dbe9fe;*/
				@include slow_transition;
			}
		}
	}
	ul#social-buttons {
		list-style-type: none;
		margin-right: 20px;
		margin-top: 15px;
		li {
			display: inline;
			#fbook-button {
				@include slow_transition;
				position: relative;
				height: 40px;
				width: 40px;
				margin-right: 10px;
				display: block;
				float: left;
				background-image:url(fbook-sprite-blue.png);
				background-position: 0 0;
				background-repeat: no-repeat;
				&:hover, &:active {
					background-position: 0 -40px;
				}
			}
			#twitter-button {
				@include slow_transition;
				height: 40px;
				width: 40px;
				margin-right: 10px;
				display: inline;
				float: left;
				background-image:url(twitter-sprite-blue.png);
				background-position: 0 0;
				background-repeat: no-repeat;
				&:hover, &:active {
					background-position: 0 -40px;
				}
			}
			#email-button {
				@include slow_transition;
				height: 40px;
				width: 40px;
				margin-right: 10px;
				display: inline;
				float: left;
				background-image:url(email-sprite-maroon.png);
				background-position: 0 0;
				background-repeat: no-repeat;
				&:hover, &:active {
					background-position: 0 -40px;
				}
			}
		}
	}
}