<% provide(:title, "All Products") %>

<h1 class="center">Product Index</h1>

<%= will_paginate %>

<table class="table products">
	<thead>
		<tr class="products-header">
			<th class="product-id">id</th>
			<th class="product-name">Name</th>
			<th class="product-category">Category</th>
			<th class="product-price">Price</th>
		</tr>
	</thead>
	<tbody>
		<%= render @products %>
	</tbody>
</table>

<%= will_paginate %>

<div class="center" id="new-product">
	<%= link_to "New Product", "#", class: "btn btn-medium" %>
</div>