<% provide(:title, "Product Index") %>

<h1 class="center">Product Index</h1>

<%= will_paginate %>

<table class="table products">
	<thead>
		<tr class="products-header">
			<th class="product-name">Name</th>
			<th class="product-category">Category</th>
			<th class="product-price">Price</th>
		</tr>
	</thead>
	<tbody>
		<%= render @products %>
	</tbody>
</table>

<%= will_paginate %>

<% if current_customer && current_customer.admin? %>
	<div class="center">
		<%= link_to "New Product", new_product_path, class: "btn btn-large", id: "new-product" %>
	</div>
<% end %>
