<footer>
	<div class="navbar navbar-fixed-bottom">
		<div class="navbar-inner">
			<div class="nav">
				<ul id="contact-info">
					<li class="center"><%= link_to "Contact Us", "#" %></li>
					<li class="center">Phone Number</li>
					<li class="center">Email Address</li>
				</ul>
			</div>
			<div class="nav pull-right">
				<ul id="social-buttons">
					<li class="center">
						<a href="fbook" id="fbook-button"> <span></span> </a>
					</li>
					<li class="center">
						<a href="twitter" id="twitter-button"> </a>
					</li>
					<li class="center">
						<a href="email" id="email-button"> </a>
					</li>
				</ul>
			</div>
		<div>
	</div>
</footer>