<footer>
	<div class="navbar navbar-fixed-bottom">
		<div class="nav">
			<ul id="contact-info">
				<li class="center"><%= link_to "Contact Us", "#" %></li>
				<li class="center">Phone Number</li>
				<li class="center">Email Address</li>
			</ul>
		</div>
		<div class="nav pull-right">
			<ul>
			</ul>
		</div>
	</div>
</footer>